 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello, my name is Robert and I dev full stack web & native mobile. I currently study at <a href="http://www.metropolia.fi/">Metropolia University of Applied Sciences</a> and plan to graduate as Information Technology Engineer in 2020.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am a <span id="age"></span> years old student, based in Helsinki. In 2016 I graduated from <a href="https://www.keuda.fi/">Keuda vocational school</a> and have qualifications in Information and Communications Technology. In my spare time I like to further develop my skills and exercise.</p>
                </div>
            </div>
        </div>
    </section>
