 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Robert, I'm a Front-end web developer. I currently study software development at <a href="http://www.metropolia.fi/en/"> Metropolia University of Applied Sciences</a></p>
                </div>
                <div class="col-lg-4">
                    <p>I am 20 years old student, based in Greater Helsinki area of Finland, Espoo to be more precise. In 2016 I graduated from <a href="https://www.keuda.fi/">Keuda</a> vocational school and have qualifications in Information and Communications Technology. In my spare time I like to make my own projects and further develop myself. </p>
                </div>
            </div>
        </div>
    </section>
