<!-- Skills Section -->
<section id="skills">
  <section>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-12 text-center"> <!-- General skills -->
                    <h1>General skills</h1>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                  <div id="stars">
                    <h1>TEAMWORK</h1>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <br>
                    <br>
                    <h1>FRONT-END</h1>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span>☆</span>
                    <br>
                    <br>
                    <h1>CUSTOMER SERVICE</h1>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <br>
                    <br>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div id="stars">
                    <h1>BACK-END</h1>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <br>
                    <br>
                    <h1>AGILE DEVELOPMENT</h1>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <br>
                    <br>
                    <h1>DATABASES</h1>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span id="starFill">☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <br>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </section>

        <section class="success">
          <div class="container">
            <div class="col-lg-12 text-center"> <!-- Programming languages/technologies -->
                <h1>Technologies</h1>
                <hr class="star-light">
            </div>
        </div>
        <div class="row"> <!-- Programming languages -->
            <div class="col-lg-4 col-lg-offset-2">
              <div id="stars">
                <h1>HTML</h1>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <br>
                <br>
                <h1>CSS/SASS</h1>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <span>☆</span>
                <br>
                <br>
                <h1>PHP</h1>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <span>☆</span>
                <span>☆</span>
                <br>
                <br>
                <h1>WORDPRESS</h1>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <span id="starFill">☆</span>
                <span>☆</span>
                <span>☆</span>
            </div>
          </div>
            <div class="col-lg-4">
                <div id="stars">
                  <h1>JAVASCRIPT</h1>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span>☆</span>
                  <span>☆</span>
                  <br>
                  <br>
                  <h1>JAVA</h1>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span>☆</span>
                  <span>☆</span>
                  <br>
                  <br>
                  <h1>C#</h1>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span>☆</span>
                  <span>☆</span>
                  <br>
                  <br>
                  <h1>ANGULAR</h1>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span>☆</span>
                  <span>☆</span>
                  <span>☆</span>
                </div>
            </div>
        </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center"> <!-- Languages -->
                <h1>Languages</h1>
                <hr class="star-primary">
            </div>
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                <div id="stars">
                  <h1>FINNISH</h1>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <br>
                  <br>
                  <h1>RUSSIAN</h1>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span>☆</span>
                  <br>
                  <br>
                </div>
            </div>
            <div class="col-lg-4">
              <div id="stars">
                <h1>ENGLISH</h1>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <br>
                  <br>
                <h1>SWEDISH</h1>
                  <span id="starFill">☆</span>
                  <span id="starFill">☆</span>
                  <span>☆</span>
                  <span>☆</span>
                  <span>☆</span>
                  <br>
                  <br>
              </div>
              </div>
            </div>
        </div>
      </div>
    </section>
    </div>
</section>
