<!-- Skills Section -->
   <section id="skills">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Skills</h2>
                  <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-4 col-lg-offset-2">
                 <div id="stars">
                   <h2>HTML</h2>
                   <span id="starFill">☆</span>
                   <span id="starFill">☆</span>
                   <span id="starFill">☆</span>
                   <span id="starFill">☆</span>
                   <span id="starFill">☆</span>
                 </div>
               </div>
               <div class="col-lg-4">
                   <div id="stars">
                     <h2>JAVASCRIPT</h2>
                     <span id="starFill">☆</span>
                     <span id="starFill">☆</span>
                     <span id="starFill">☆</span>
                     <span>☆</span>
                     <span>☆</span>
                   </div>
               </div>
           </div>
       </div>
   </section>
